{% extends 'base.html' %} {% load static%} {% block centro_web%}
<h1>Listado de interpretes en base de datos</h1>
<ul>
    <table>
        <tr>
            <th scope="col" class="table_index"><strong>Interprete</strong></th>
            <th scope="col" class="table_index"><strong>Album</strong></th>
            <th scope="col" class="table_index"><strong>año</strong></th>
        </tr>

        {% for objeto in lista_artistas %}
        <tr>
            <td class="table_index">{{objeto.interprete}}</td>
            <td class="table_index">{{objeto.album}}</td>
            <td class="table_index">{{objeto.año}}</td>
        </tr>
        {% endfor %}
    </table>


</ul>
{% endblock %}